@model List<ServiceRequest>

<h2>Service Requests</h2>

<table border="1">

    <tr>
        <th>Client</th>
        <th>Contract</th>
        <th>Description</th>
        <th>USD Amount</th>
        <th>ZAR Amount</th>
        <th>Status</th>
    </tr>

    @foreach (var r in Model)
    {
        <tr>

            <td>
                @r.Contract?.Client?.Name
            </td>

            <td>
                #@r.ContractId
            </td>

            <td>
                @r.Description
            </td>

            <td>
                $ @r.CostUSD
            </td>

            <td>
                R @r.CostZAR
            </td>

            <td>
                @r.Status
            </td>

        </tr>
    }

</table>